
.root{
    --primery-text-color: #757575;
    --title-text-color: #212121;
}
.body{color: #ffffff;
font-family:Roboto, sans-serif;
text-decoration: none;
}

.logo{
    color:#2196F3 ;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-part{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #FFFFFF;}


.header-part{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2px;
    letter-spacing: 0.03em;
    color: #000000;}



.nav-link{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;}
    .nav-link:hover, :focus{color: #2196F3;}

    .button{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background-color: #2196F3;}

.header-contacts-link{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;

}

.contacts-link{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}




.header-title{background-color: #2F303A;}
.header-text{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: #FFFFFF;}



ul{ list-style: none;}

.advences-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;}

.advences-text{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    }

.work{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height:1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

.workers{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;;
    color: #212121;}

.workers-squad{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

.profession{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;}

.footer{
    background-color: #2F303A;
}



.addres-office{color: #ffffff;
font-style: normal;
text-decoration: none;}
.addres-office:hover,:focus{}







.current:hover, .current:focus{}


.title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    text-decoration: none;}

.title-text{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.8;
    color: #757575;}


    .button-menu{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.03em;
        color: #212121;
        
        }

        .portfolio-button:hover,:focus{color: #2196F3;}